<!-- @author : Christopher Deshaies -->
<div>
  <h2>
    Produits en stock
  </h2>
  <ul class="row justify-content-center">
    <li class="col-12 col-lg-10" *ngFor=" let produitEnVente of listProduitsEnVente  | async | orderBy:'libelle':true ; let i = index">
      <div class="d-flex justify-content-between categorie" (click)="changeHiddenCategorie(i+1)">
        <label>
          <strong class="text-uppercase">{{produitEnVente.libelle}}</strong>  -  Quantité totale restante : <strong>{{getQuantiteRestant(produitEnVente.libelle)}}</strong>&nbsp;  
          <i *ngIf="getQuantiteRestant(produitEnVente.libelle)===0" class="fas fa-exclamation-circle" style="color: red" title="ATTENTION il faut en recommander !"></i>
        </label>
        <div>
          <button class="btn btn-outline-danger" *ngIf="getQuantiteRestant(produitEnVente.libelle)===0" (click)="supprimerProduitEnVente(produitEnVente.id)">
              <i class="fas fa-trash-alt"></i>
          </button>
          <button class="btn btn-outline-danger" >
            <i *ngIf="!hiddenCategorie[i+1]" class="fas fa-chevron-up"></i>
            <i *ngIf="hiddenCategorie[i+1]" class="fas fa-chevron-down"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover text-right" *ngIf="!hiddenCategorie[i+1]">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Code Fournisseur</th>
            <th>Qte initiale</th>
            <th>Qte restant</th>
            <th>Date Limite de consommation</th>
            <th>Date D'Achat</th>
            <th>Prix D'Achat</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- ajout -->
          <tr>
            <td>
              {{produitEnVente.libelle}}
            </td>
            <td>
              <input type="text" class="form-control" id="codeFournisseur[i+1]" [(ngModel)]="codeFournisseur[i+1]" name="codeFournisseur[i+1]" placeholder="Exemple : XCD216" required>
            </td>
            <td>
              <input type="number" class="form-control " id="quantiteAjoutProduit[i+1]" [(ngModel)]="quantiteAjoutProduit[i+1]" name="quantiteAjoutProduit[i+1]" placeholder="Exemple : 200" required>
            </td>
            <td>
            </td>
            <td>
              <input type="date" class="form-control" id="dateLimiteProduit[i+1]" [(ngModel)]="dateLimiteProduit[i+1]" name="dateLimiteProduit[i+1]" required>
            </td>
            <td>
              <input type="date" class="form-control" id="dateAchatProduit[i+1]" [(ngModel)]="dateAchatProduit[i+1]" name="dateAchatProduit[i+1]" required>
            </td>
            <td>
              <input type="text" class="form-control" id="prixAchatProduit[i+1]" [(ngModel)]="prixAchatProduit[i+1]" name="prixAchatProduit[i+1]" placeholder="Exemple : 100.50" required>
            </td>
            <td>
              <button class="btn btn-outline-success" (click)="ajouterProduitStock(i+1, produitEnVente.libelle)">
                Ajouter
              </button>
            </td>
          </tr>
          <tr *ngFor="let produit of listProduits | async | orderBy:'dateLimite':true | filter:'libelle':produitEnVente.libelle" >
            <td>{{produit.libelle}}</td>
            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.codeFournisseur}}</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="text" [(ngModel)]="modifProduit[0]"/></td>

            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.quantiteInitiale}}</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="number" [(ngModel)]="modifProduit[1]"/></td>

            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.quantiteRestante}}</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="number" [(ngModel)]="modifProduit[2]"/></td>

            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.dateLimite}}</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="date" [(ngModel)]="modifProduit[3]"/></td>

            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.dateAchat}}</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="date" [(ngModel)]="modifProduit[4]"/></td>

            <td *ngIf="!tabModifierProduit[produit.id]">{{produit.prixAchat}}€/unité</td>
            <td *ngIf="tabModifierProduit[produit.id]"><input type="text" [(ngModel)]="modifProduit[5]"/></td>
            <td>
              <i class="fas fa-edit" *ngIf="!tabModifierProduit[produit.id]" (click)="changerModifierProduit(produit)"></i>&nbsp;
              <i class="fas fa-trash-alt" *ngIf="!tabModifierProduit[produit.id]" (click)="supprimerProduit(produit.id)"></i>
              <i class="fas fa-check-circle" *ngIf="tabModifierProduit[produit.id]" (click)="modifierProduit(produit.id, produit.libelle)"></i>&nbsp;
              <i class="fas fa-times-circle" *ngIf="tabModifierProduit[produit.id]" (click)="changerModifierProduit(produit)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <br>
    <li class="col-12 col-lg-10">
      <div class="d-flex justify-content-between categorie" (click)="changeHiddenCategorie(0)">
        <label style="font-weight: bold">
          AJOUTER UN <span style="color: red">NOUVEAU</span> PRODUIT  
        </label>
        <div>
          <button class="btn btn-outline-primary">
            <i class="fas fa-plus" style="color: blue"></i>
          </button>
        </div>
      </div>
      <table class="table table-hover text-right" *ngIf="!hiddenCategorie[0]">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Code Fournisseur</th>
            <th>Qte initiale</th>
            <th>Date Limite de consommation</th>
            <th>Date D'Achat</th>
            <th>Prix D'Achat</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control" id="newNomProduit" [(ngModel)]="newNomProduit" name="newNomProduit" placeholder="Entrer le nom du produit" required>
            </td>
            <td>
              <input type="text" class="form-control" id="codeFournisseur[0]" [(ngModel)]="codeFournisseur[0]" name="codeFournisseur[0]" placeholder="Exemple : XCD216" required>
            </td>
            <td>
              <input type="number" class="form-control " id="quantiteAjoutProduit[0]" [(ngModel)]="quantiteAjoutProduit[0]" name="quantiteAjoutProduit[0]" placeholder="Exemple : 200" required>
            </td>
            <td>
              <input type="date" class="form-control" id="dateLimiteProduit[0]" [(ngModel)]="dateLimiteProduit[0]" name="dateLimiteProduit[0]" required>
            </td>
            <td>
              <input type="date" class="form-control" id="dateAchatProduit[0]" [(ngModel)]="dateAchatProduit[0]" name="dateAchatProduit[0]" required>
            </td>
            <td>
              <input type="text" class="form-control" id="prixAchatProduit[0]" [(ngModel)]="prixAchatProduit[0]" name="prixAchatProduit[0]" placeholder="Exemple : 100.50" required>
            </td>
            <td>
              <button class="btn btn-outline-primary" (click)="ajouterNouveauProduitStock()">
                Ajouter
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>