<!-- <ul class="nav nav-tabs justify-content-around">
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateCompta()">Accès Comptabilité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateStocks()">Accès Gestion Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateEmployes()">Accès Gestion Employés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateCommandes()">Accès Gestion Commandes Client</a>
    </li>
</ul> -->
<!-- <app-onglet></app-onglet> -->