<div class="row">
    <div class="commandes">
        <div class="row">
            <div class="row">
                <li *ngFor="let produit of produitsEnVente | async">
                    <div class="item">
                        <span>{{produit.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Prix Unitaire : </span><span>{{produit.prixvente}}</span></div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{getQuantiteCommandee(produit.libelle)}}</span></div>
                        <div class="row justify-content-between"><span>Stocks(kg) :</span> <span>{{getQuantiteRestante(produit.libelle)}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(produit)"></i>
                        <i class="fas fa-minus" (click)="retirer(produit)"></i>
                    </div>
                </li>
            </div>
        </div>
        <!-- <div class="row">
            <div class="row">
                <li *ngFor="let produit of produitsEnVente | async">
                    <div class="item">
                        <span>{{produit.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Prix Unitaire : </span><span>{{produit.prixvente}}</span></div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{getQuantiteCommandee(produit.libelle)}}</span></div>
                        <div class="row justify-content-between"><span>Stocks(kg) :</span> <span>{{getQuantiteRestante(produit.libelle)}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(produit)"></i>
                        <i class="fas fa-minus" (click)="retirer(produit)"></i>
                    </div>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <li *ngFor="let produit of produitsEnVente | async">
                    <div class="item">
                        <span>{{produit.libelle}}</span>
                    </div>
                    <div>
                        <div class="row justify-content-between"><span>Prix Unitaire : </span><span>{{produit.prixvente}}</span></div>
                        <div class="row justify-content-between"><span>Quantité : </span><span>{{getQuantiteCommandee(produit.libelle)}}</span></div>
                        <div class="row justify-content-between"><span>Stocks(kg) :</span> <span>{{getQuantiteRestante(produit.libelle)}}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <i class="fas fa-plus" (click)="ajout(produit)"></i>
                        <i class="fas fa-minus" (click)="retirer(produit)"></i>
                    </div>
                </li>
            </div>
        </div> -->

        <div class="row encaissement">
            <h3>TOTAL : {{prixTotal}} euros TTC</h3>
            <button type="button" class="btn btn-success" (click)="encaisser()">Encaisser</button>
            <button type="button" class="btn btn-danger" (click)="reinitialiser()">Annuler</button>
        </div>
    </div>
    <div class="facture">
        <app-detailscommande class="commandes" [produitsCommandes]="listProduits" [prixTotal]="prixTotal"></app-detailscommande>
    </div>
</div>