.header{
    background-color: #dc3545;
    padding:10px;
    text-align: center;
}

p{
    color: white;
    font-weight: bold;
}

.row{
    margin:0;
}

.title{
    text-align: center;
    color: white;
    font-weight: bold;
    /* position: relative;
    height: 100px; */
}

h2{
    margin:auto;
}

img{
    /* position: absolute; */
}