<!-- <app-onglet></app-onglet> -->
<!-- <ul class="nav nav-tabs justify-content-around">
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateCompta()">Accès Comptabilité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateStocks()">Accès Gestion Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateEmployes()">Accès Gestion Employés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-center" (click)="navigateCommandes()">Accès Gestion Commandes Client</a>
    </li>
</ul> -->
<div class="row col-4">
  <h4>Bienvenue </h4>
  <!-- <p><a [routerLink]="['']">Logout</a></p> -->
</div>
<div>
  <span *ngIf="isLoaded">Liste des employés :</span>
  <span *ngIf="!isLoaded">Chargement des employés</span>
  <ul class="listeusers">
    <li class="row" *ngFor="let user of ListUsers | async">
      <p>{{user.id}} - {{user.nom}}</p>
      <button (click)="select(user)" class="text-primary">Détails</button>
    </li>
  </ul>
</div>

<div>
  <div class="formulaire">
    <p><label>Nom</label><input [(ngModel)]="nom" value="nom"></p>
    <p><label>Prenom</label> <input [(ngModel)]="prenom" value="prenom"></p>
    <p><label>Addresse</label><input [(ngModel)]="adresse" value="adresse"></p>
    <p><label>Tel</label> <input [(ngModel)]="tel" value="tel"></p>
    <p><label>email</label> <input [(ngModel)]="email" value="email"></p>
    <p><label>dateNaissance</label> <input [(ngModel)]="dateNaissance" value="dateNaissance"></p>
    <p><label>role</label> <input [(ngModel)]="role" value="role"></p>
    <p><label>password</label> <input [(ngModel)]="password" value="password"></p>
    <p><input type="submit" (click)="ajout()" value="Ajout" ></p>
  </div>
</div>

<div>
  <div class="formulaire">
    <span><label>ID Modif</label> <input [(ngModel)]="idmodif"></span>
    <span class="ml-2"><input class="bouton" type="submit" (click)="modifier()" value="Modifier"></span>
  </div>
</div>

<div>
  <div class="formulaire">
    <span><label>ID Supp</label> <input [(ngModel)]="idsupp"></span>
    <span class="ml-2"><input class="bouton" type="submit" (click)="supprimer()" value="Delete"></span>
  </div> 
</div>
